/*Media queries for Large Displays*/
@media (min-width: 1353px) {
	.mobile-header {
		display: none;
	}
	.mobile-nav-bar {
		display: none;
	}
	.shift {
		display: none;
	}
} 
@media (max-width: 1352px) {
	.mobile-header {
		display: none;
	}
	.mobile-nav-bar {
		display: none;
	}
	.header > .nav-bar {
		line-height: 18px;
		padding-top: 23px;
	}
	.nav-bar > .categories {
		text-align: right
	}
	.nav-bar > ul > .r-cat {
		float: none;
	}
	.categories > .r-cat {
		display: inline;
	}
}

/*Media queries for Mobile Displays*/

/*@media handheld and (aspect-ratio: 71/40), (aspect-ratio: 40/71), (aspect-ratio: 3/2), (aspect-ratio: 2/3) {*/
@media (aspect-ratio: 71/40), (aspect-ratio: 40/71), (aspect-ratio: 3/2), (aspect-ratio: 2/3) {
	.nav-bar {
		display: none;
	}
	.mobile-nav-bar {
		display: none;
	}
	.header > .nav-button {
		display: block;
	}
	body > .container {
		width: 100%;
	}
	.container > .header {
	height: 95px;
	width: 100%;
	border-bottom: solid 5px #56524D;
	font-family: mavenprolight;
	line-height: 95px;
	}
}

/*Import Fonts*/
@font-face {
	font-family: mavenprolight;
	src: url("/fonts/mavenprolight-200-webfont.tff");
	src: url("/fonts/mavenprolight-200-webfont.svg");
	src: url("/fonts/mavenprolight-200-webfont.woff");
	src: url("/fonts/mavenprolight-200-webfont.eot");
	src: url("/fonts/mavenprolight-300-webfont.tff");
	src: url("/fonts/mavenprolight-300-webfont.svg");
	src: url("/fonts/mavenprolight-300-webfont.woff");
	src: url("/fonts/mavenprolight-300-webfont.eot");
}


/*Large Displays*/

/*General settings*/
body {
	margin: 0px;
}
.container {
	margin: 0px auto;
	width: 85%;
	position: relative;
	z-index: 0;
}

/*Header sections*/
.header {
	height: 81px;
	/*When making body, remove border-bottom and set height to 76px?*/
	border-bottom: solid 5px #56524D;
	font-family: mavenprolight;
	clear:both;
}
.logo {
	float:left;
}
.logo .name {
	margin: 28px 0px 26px;
	line-height: 81px;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.occupation {
	margin-left: 10px;
	color: #A09B95;
}
.nav-bar {
	float:right;
	line-height: 81px;
}
.categories {
	margin: 0px;
}
.categories > li {
	margin-left: 10px;
	float:left;
	list-style-type: none;
	font-size: 15px;
}
.categories > li > a {
	text-decoration: none;
}
.fade:link {
	color:#56524D;
}
.fade:visited {
	color:#56524D;
}
.fade:hover {
	color:#FF5F40;
	transition: 1s;
}
.all_cat {
	color:#FF5F40;
	font-weight: bold;
}
.info_cat {
	font-weight: bold;
}
.stuff_cat {
	font-weight: bold;
}

/*Projects section*/

.projects {
	list-style-type: none;
	padding: 0px;
}
.item:hover div {
	display: block;
	transition: 1s;
}
.detail {
	display: none;
	position: absolute;
	bottom: 10px;
	width: 285px;
	height: 80px;
	padding-top: 10px;
	text-indent: 5px;
	font-family: mavenprolight;
	background-color: #FF5F40;
}
.detail > span {
	display:block;
}
.client-name {
	font-weight: bold;
}

/*Mobile Displays*/
.mobile-logo {
	margin: 28px 0px 26px 10%;
	font-weight: bold;
	font-size: 35px;
}
.mobile-logo > div {
	float:left;
}
.mobile-categories > div > li {
	list-style-type: none;
}
.mobile-categories > div > li > a {
	text-decoration: none;
	font-size: 30px;
	color:#000000;
}
.mobile-nav-bar {
	background-color:#FFFFFF;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 442px;
}
.nav-button {
	width: 47px;
	height: 35px;
	padding: 0px;
	float:right;
	border: none;
	display: none;
	background-image: url('../images/menu.png')
}
.nav-close-button {
	width: 42px;
	height: 42px;
	padding: 0px;
	float:right;
	border: none;
	background-image: url('../images/close.png');
}
.l-column {
	margin-top: 28px;
	width: 260px;
	float:left;
}
.r-column {
	margin-top: 28px;
	width: 260px;
	float:right;
}
.all_mobile {
	color:#FF5F40;
	font-weight: bold;
}
.info_mobile {
	font-weight: bold;
}
.stuff_mobile {
	font-weight: bold;
}
